@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a {
  display: inline-block;
}

a:focus,
a:active {
  outline: none;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

nav,
footer,
header,
aside {
  display: block;
}

img {
  display: block;
}

.flow {
  --flow-space: 1em;
}

.flow > * + * {
  margin-top: 1em;
  margin-top: var(--flow-space);
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class],
ol[class] {
  padding: 0;
}

@font-face {
  font-family: "Futura PT";
  font-weight: 400;
  src: url(../fonts/FuturaPT-Book.woff), url(../fonts/FuturaPT-Book.woff2);
}
@font-face {
  font-family: "Futura PT";
  font-weight: 500;
  src: url(../fonts/FuturaPT-Medium.woff), url(../fonts/FuturaPT-Medium.woff2);
}
@font-face {
  font-family: "Futura PT";
  font-weight: 700;
  src: url(../fonts/FuturaPT-Bold.woff), url(../fonts/FuturaPT-Bold.woff2);
}
/* gaegu-regular - latin */
@font-face {
  font-family: "Gaegu";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/gaegu-v15-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/gaegu-v15-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/gaegu-v15-latin-regular.woff2") format("woff2"), url("../fonts/gaegu-v15-latin-regular.woff") format("woff"), url("../fonts/gaegu-v15-latin-regular.ttf") format("truetype"), url("../fonts/gaegu-v15-latin-regular.svg#Gaegu") format("svg"); /* Legacy iOS */
}
body {
  font-family: "Futura PT", sans-serif;
  font-weight: 500;
}

body {
  background: url(../assets/images/allpage-bg.png);
}

.container {
  max-width: 1340px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-top {
  background: transparent;
}

.header-top__content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  margin-left: auto;
  display: flex;
  -moz-column-gap: 105px;
       column-gap: 105px;
}

.header-top__content__address {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
  line-height: 18px;
  color: #333333;
}

.header-top__content__address::before {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  background: url(../assets/icons/home.svg) no-repeat;
}

.header-top__phone-links-list {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  align-items: center;
}

.header-top__phone-links-list-item {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  align-items: center;
}

.header-top__phone-links-list-item a {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}

.header-top__phone-links-list-item:first-child::before {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  background: url(../assets/icons/phone.svg) no-repeat;
}

.header-top__phone-links-list-item:nth-child(1n+2):before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #FFBD54;
}

.days {
  display: flex;
  -moz-column-gap: 18px;
       column-gap: 18px;
  align-items: center;
}

.days::before {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  background: url(../assets/icons/calendar.svg) no-repeat;
}

.days > div {
  display: flex;
  -moz-column-gap: 18px;
       column-gap: 18px;
}

.days > div * span, .days > div * time {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}

.header-bottom__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.header-logo {
  position: relative;
  display: block;
  width: 178px;
  height: 86px;
  transform: scale(1.1);
}

.header-logo img {
  position: absolute;
  width: 106%;
  height: 112%;
  top: -10px;
  left: -75px;
}

.header-navbar__link-list {
  display: flex;
  align-items: center;
  -moz-column-gap: 55px;
       column-gap: 55px;
  flex-wrap: wrap;
}

.header-navbar__link-list li a {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  z-index: 5;
  transition: linear 0.3s;
}

.header-navbar__link-list li a::after {
  content: "";
  position: absolute;
  display: none;
  left: 0;
  bottom: 5px;
  background-color: rgba(255, 189, 84, 0.3764705882);
  min-width: 100%;
  height: 4px;
  z-index: -1;
  transition: linear 0.3s;
}

.header-navbar__link-list li a:hover::after {
  display: block;
}

.header-navbar__link-list li {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
  align-items: center;
  transition: linear 0.3s;
}

.header-navbar__link-list li::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  transition: linear 0.3s;
}

.header-navbar__link-list li:first-child::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: url(../assets/icons/hover-fish.svg) no-repeat;
}

.header-navbar__link-list li:hover::before {
  background: url(../assets/icons/hover-fish.svg) no-repeat;
}

.header__ques-button {
  display: flex;
  align-items: center;
  -moz-column-gap: 7px;
       column-gap: 7px;
}

.header__ques-button span {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: right;
  color: #333333;
}

.main-page {
  overflow: hidden;
  margin-bottom: 50px;
}

.main-page__content {
  position: relative;
  display: flex;
  padding-top: 190px;
}

.main-page__content img[src*=decors],
.main-page__content img[src*=parrot] {
  position: absolute;
}

.main-page__content img[src*=decors]:first-child {
  top: -160px;
  left: -380px;
  z-index: -1;
}

.main-page__content img[src*=parrot] {
  bottom: -20px;
  right: -105px;
}

.main-page__content img[src*=lapa-right] {
  right: -75px;
  bottom: -19px;
}

.main-page__content-start img {
  position: relative;
  z-index: 5;
}

.main-title {
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 64px;
  color: #333333;
  margin-bottom: 30px;
}

.main-title span {
  color: #78C0DE;
}

.main-subtitle {
  max-width: 495px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #949494;
  margin-bottom: 40px;
}

.main-page__btn {
  padding: 15px 50px;
  background-color: #333333;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  border-radius: 3px;
}

.blockquote {
  max-width: 965px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 70px;
  margin-bottom: 190px;
}

.blockquote p, .blockquote cite {
  text-align: center;
}

.blockquote p {
  position: relative;
  max-width: 730px;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #949494;
}

.blockquote p::before {
  content: "“";
  font-family: "Gaegu";
  position: absolute;
  top: 55px;
  left: -195px;
  font-size: 200px;
  color: #DBDBDB;
}

.blockquote p::after {
  content: "“";
  font-family: "Gaegu";
  position: absolute;
  bottom: 85px;
  right: -195px;
  font-size: 200px;
  color: #DBDBDB;
  transform: rotate(180deg);
}

.blockquote cite {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #333333;
  font-style: normal;
}

.section-title {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 54px;
  color: #333333;
}

.uslugi {
  margin-bottom: 170px;
}

.uslugi h2.section-title {
  margin-bottom: 80px;
}

.uslugi-content-slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

.slider-content {
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
}

.slider-content li {
  padding: 30px 35px;
  width: 195px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 22px;
  background-color: white;
  box-shadow: 0 0 1.2px lightgray;
}

.slider-content li img {
  width: 55px;
  height: 80px;
}

.slider-content li span {
  text-align: center;
}

.sld-left, .sld-rght {
  font-size: 27px;
  cursor: pointer;
  color: #FFBD54;
}

.uslugi-desc {
  padding: 42px 135px 42px 35px;
  max-width: 1250px;
  margin: 0 auto;
  display: flex;
  -moz-column-gap: 65px;
       column-gap: 65px;
  background-color: white;
  box-shadow: 0 0 1.2px lightgray;
}

.uslugi-desc-imgbox {
  min-width: 525px;
  height: 330px;
}

.uslugi-desc-imgbox img {
  width: 100%;
  height: 100%;
}

.uslugi-desc-content {
  padding-top: 20px;
  padding-bottom: 20px;
}

.uslugi-desc-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 20px;
  color: #333333;
  margin-bottom: 20px;
}

.uslugi-desc-subtitle_block {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.uslugi-desc-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
}

.uslugi-desc-btn__block {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  margin-top: 30px;
}

.uslugi-btn {
  padding: 15px 35px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  -moz-column-gap: 7px;
       column-gap: 7px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.uslugi-btn:nth-child(1) {
  background-color: #FFBD54;
}

.uslugi-btn:nth-child(2) {
  background-color: #333333;
}

.sobitii {
  background: url(../assets/images/budvkurse.jpg);
  background-repeat: repeat-x;
  margin-bottom: 215px;
}

.sobitii-content {
  padding-top: 90px;
  padding-bottom: 150px;
  display: flex;
  position: relative;
  width: 100%;
  padding-left: 140px;
}
.sobitii-content img {
  position: absolute;
  top: -108px;
  right: 0;
}
.sobitii-content .section-title {
  color: white;
  margin-bottom: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.sobitii-content form {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.sobitii-content form input[type=email] {
  padding: 15px 10px 15px 20px;
  width: 335px;
  border-radius: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
}
.sobitii-content form input[type=email]::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
}
.sobitii-content form input[type=email]:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
}
.sobitii-content form input[type=email]::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
}
.sobitii-content form input[type=email]:focus:valid {
  box-shadow: 0 0 0 2px green;
}
.sobitii-content form input[type=email]:focus:invalid {
  box-shadow: 0 0 0 2px red;
}

.sobitii-content form input[type=submit] {
  padding: 15px 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  background-color: #333333;
  border-radius: 5px;
  cursor: pointer;
}

.poleznie .section-title {
  margin-bottom: 80px;
}

.poleznie-card-list {
  display: flex;
  justify-content: space-between;
}

.poleznie-card-list li:nth-child(odd) {
  width: 305px;
  min-height: 435px;
  box-shadow: 0 0 3px lightgray;
  border-radius: 5px;
}
.poleznie-card-list li:nth-child(odd) .poleznie-item-imgbox {
  width: 100%;
  height: 180px;
}
.poleznie-card-list li:nth-child(odd) .poleznie-item-imgbox img {
  min-width: 100%;
  height: 100%;
}

.poleznie-card-list li:nth-child(2) {
  display: flex;
  width: 645px;
  box-shadow: 0 0 3px lightgray;
  border-radius: 5px;
}
.poleznie-card-list li:nth-child(2) .poleznie-item-imgbox {
  min-width: 305px;
}
.poleznie-card-list li:nth-child(2) .poleznie-item-imgbox img {
  min-width: 100%;
  height: 100%;
}

.poleznie-item-content {
  padding: 20px 30px 35px;
}
.poleznie-item-content time {
  display: block;
  text-align: right;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #949494;
  margin-bottom: 2px;
}
.poleznie-item-content a.poleznie-btn {
  display: flex;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}

.poleznie-card-list li:nth-child(2) .poleznie-item-content {
  padding: 40px 30px 35px;
}
.poleznie-card-list li:nth-child(2) .poleznie-item-content .hashtags a {
  font-size: 14px;
  line-height: 22px;
  color: #3D9CEA;
}
.poleznie-card-list li:nth-child(2) .poleznie-item-content a.poleznie-btn {
  position: relative;
  bottom: -60px;
}

.poleznie-item-content .poleznie-item-content__title {
  max-width: 180px;
  font-weight: 700;
  font-size: 22px;
  line-height: 25px;
  color: #000000;
  margin-bottom: 10px;
}

.poleznie-item:nth-child(odd) .poleznie-item-content .poleznie-item-content__subtitle {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
}

.poleznie-item:nth-child(1n+1) .poleznie-item-content .poleznie-item-content__subtitle {
  margin-bottom: 35px;
  color: #949494;
}/*# sourceMappingURL=style.css.map */